<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Блог про МИИТ</title>
    </head>
    <body>
        <div>
            <h1><a href="http://akwinchester.pythonanywhere.com/">Блог про МИИТ</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Алферов - лох, Клепацкий - Бог</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Если видишь красный свет, значит впереди ИЭФ</p>
        </div>
    </body>
</html>